/* Header Style */
header {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--color-gray);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #fff;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 150px;
}

header .nav ul {
  display: flex;
  column-gap: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header .nav ul a {
  font-weight: 500;
  transition: all 0.4s;
}

header .nav ul a:hover {
  color: var(--color-primary);
}

header .icons ul {
  display: flex;
  column-gap: 1.5rem;
}

header .icons .user-icon a {
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--color-secondary);
  border-radius: 15px;
  font-size: 0.8125rem;
  transition: all 0.4s;
}

header .icons .user-icon a:hover {
  background: var(--color-primary);
  color: #fff;
  border: 1px solid var(--color-primary);
}

header .icons .user-icon a em {
  margin-left: 0.5rem;
}
/* 
header .menu-icon {
  display: none;
} */

/* Hero Section Style */
.hero {
  width: 100%;
  /* height: 100vh; */
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero video {
  width: 100%;
  height: auto;
  min-width: 2400px;
}

.hero .btns {
  position: absolute;
  width: 100%;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}

.hero .btns button {
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  transition: all 0.4s;
}

.hero .btns button:first-child {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.hero .btns button:last-child {
  background: var(--color-dark-primary);
  border: 1px solid var(--color-dark-primary);
}

.hero .btns button:first-child:hover {
  background: #fff;
  color: var(--color-primary);
}

.hero .btns button:last-child:hover {
  background: #fff;
  color: var(--color-dark-primary);
}

.hero .scroll-down {
  position: absolute;
  left: 50%;
  transform: translateX(50%);
  bottom: 10%;
  cursor: pointer;
  animation: up-down 0.5s infinite alternate;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

/* Hollow Section Style */
.hollow {
  width: 100%;
  height: 100vh;
  background: #777;
}

/* Footer Section Style */
footer {
  background: #212121;
  color: #fff;
  padding: 4.5rem 0;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer .container ul .title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

footer .container ul li {
  margin-bottom: 0.5rem;
}

footer .follow .sns {
  display: flex;
  column-gap: 0.5rem;
}

footer .follow .sns i {
  font-size: 1.25rem;
}
