@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

/********* Root Style Code **********/
:root {
  /* colors */
  --color-primary: #ff5800;
  --color-dark-primary: #1b2b45;
  --color-secondary: #808080;
  --color-attention: #71afe2;
  --color-black: #222222;
  --color-gray:#efefef;

  /* font size */
  --font-hero: 2.375rem;
  --font-heading-1: 1.5rem;
  --font-heading-2: 1.375rem;
  --font-heading-3: 1.25rem;
  --font-heading-4: 1.125rem;
  --font-heading-5: 1rem;
  --font-body: .875rem;
}

/********* Reset Style Code **********/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family:"Pretendard", sans-serif;
  font-size:var(--font-body);
  color:var(--color-black);
}

ol, ul{
  list-style:none;
}

a{
  color:inherit;
  text-decoration: none;
}

em, strong, i, b{
  font-style:normal;
  font-weight:normal;
}

img{
  display:block;
}

input, textarea, button, select,
input::placeholder, textarea::placeholder{
  border:none;
  color:inherit;
  font-family: "Pretendard", sans-serif;
  outline:0;
}