/* 1280: pc, 780: tablet, 480: mobile */
/* pc */
@media screen and (max-width:1280px){
  footer .container > ul{
    text-align: center;
  }

  footer .container > ul .sns{
    justify-content: center;
  }
}

/* tablet */
@media screen and (max-width:780px){
  header .container{
    position:static;
  }

  header nav{
    display:flex;
    position:absolute;
    top:101%;
    width:100%;
    background:#fff;
    left:0;
    height:0;
    overflow:hidden;
    transition:all 0.5s;
  }

  header nav ul{
    position:relative;
    left:0;
    top:0;
    transform:none;
    flex-direction: column;
    width:100%;
  }

  header nav ul a{
    padding:1rem 0;
    text-align:center;
    display:inline-block;
    width:100%;
    border-bottom:1px solid #efefef;
  }

  header .icons ul{
    column-gap: 1rem;
  }

  header .icons .user-icon a{
    width:30px;
    height:30px;
    border-radius: 50%;
    display:inline-block;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  header .search-icon{
    display:flex;
    align-items: center;
  }

  header .icons .user-icon a i, 
  header .search-icon i{
    font-size:1.2rem;
  }

  header .menu-icon{
    display:flex;
    align-items: center;
    font-size:1.2rem;
  }

  header .icons .user-icon a em{
    display:none;
  }

  footer .container > ul{
    border-bottom:1px solid #555;
    padding:1.5rem 0;
  }

  footer .container{
    grid-template-columns: repeat(2, 1fr);
    row-gap:1.5rem;
  }
}

/* mobile */
@media screen and (max-width:480px){
  footer .container{
    grid-template-columns: repeat(1, 1fr);
    row-gap:1rem;
  }
}